
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/public/uploads/profile_pictures/6614ec1b8be9d.jpg
/public/uploads/profile_pictures/6614ec97d1090.webp
/public/uploads/profile_pictures/66147e2e79bf8.jpg
/public/uploads/profile_pictures/66147e3c303f7.webp
/public/uploads/profile_pictures/66147f499777f.webp
/public/uploads/profile_pictures/66159e9508f7e.webp
/public/uploads/profile_pictures/661484f4887f7.jpg
/public/uploads/profile_pictures/6614769a25636.webp
/public/uploads/profile_pictures/6614816fa0866.webp
/public/uploads/profile_pictures/661485015bbbc.webp
/public/uploads/profile_pictures/6614776985ab8.webp
/public/uploads/profile_pictures/66147991947c8.webp
